#navbar {
    display: flex;
    justify-content: space-between;

    border: 1px dotted gray; /* debug */
}

#pages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw; /* responsify */

    border:  1px dotted yellow;

    .page {
        text-decoration: none;
        padding: 5% 10%; /* responsify */
        border: 1px dotted crimson; /* debug */

        &:hover {
            color: red;
        }
        &:active {
            color: yellow;
        }
    }
}

img {
    border: 1px dotted orange; /* debug */
}