#navbar {
    display: flex;
    justify-content: space-between;

    border: 1px dotted gray; /* debug */

    #pages {
        display: flex;
        width: 20%;

        border:  1px dotted yellow; /* debug */

        a {
            text-decoration: none;
            border: 1px dotted crimson; /* debug */

            // tab sizing & spacing
            height: 100%;
            width: 100%;
            text-align: center;
            h1 {transform: translateY(125%)}

            &:hover {
                color: orange;
            }
        }

        .active {
            color: yellow;
        }
    }

    img {
        border: 1px dotted yellow;
    }
}